@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-moz-inner-spin-button,
  input[type="number"]::-moz-outer-spin-button,
  input[type="number"]::-ms-clear,
  input[type="number"]::-ms-reveal {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    margin: 0;
  }
}

/* hide scrollbar */

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
