@import url("https://fonts.googleapis.com/css2?family=Inter&family=Noto+Serif&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* hide scrollbar */

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
